{%- comment -%} Customer reset password {%- endcomment -%}
<section class="evo-cust">
  <div class="evo-cust__card">
    <p class="evo-cust__eyebrow">RESET PASSWORD</p>
    <h1 class="evo-cust__title">Choose a new password</h1>
    {%- form 'reset_customer_password', class: 'evo-cust__form' -%}
      {%- if form.errors -%}<p class="evo-cust__error">{{ form.errors | default_errors }}</p>{%- endif -%}
      <label>New password
        <input type="password" name="customer[password]" required autocomplete="new-password">
      </label>
      <label>Confirm new password
        <input type="password" name="customer[password_confirmation]" required autocomplete="new-password">
      </label>
      <button type="submit">Reset password</button>
    {%- endform -%}
  </div>
</section>
{% render 'evotech-customer-styles' %}
